<form method="post" action="{{ path('evaluation_elements_delete', {'id': evaluation_element.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation_element.id) }}">
    <button class="btn">Delete</button>
</form>
